{%- if page.updated -%}    
    <time datetime='{{updated | date("iso") }}'>Updated <a href="{{ page.url }}">{{ updated | date("") }}</a></time>
{%- else -%}
    <time datetime='{{date| date("iso") }}'><a href="{{ page.url }}">{{ date | date() }}</a></time>
{%- endif -%}
