---
layout: base
---
<main>
  <article>
    <h3>{{ title }}</h3>
    {% include partials/h-card %}
    <div>{{ content | safe }}</div>
    <a href="{{ url }}">
      <mark>Articled
        <time datetime="{{date | date: "iso" }}">
          {{ date | date: "%a %b %d, %Y" }}
        </time>
      </mark>
    </a>
</article>
</main>