---
layout: base
eleventyExcludeFromCollections: true
---
<main>
  <h3>Weblog.</h3>
  {% for post in posts %}
    {% assign reactions = webmentions.children | where: "wm-target", post.url %}
    <article>
      {% include partials/h-card %}
      <time datetime="{{post.date | date: "iso" }}">
        <mark>{{ post.date | date: "%a %b %d, %Y" }}</mark>
      </time>  
      <br />
      {% case post.data.type %}
        {% when "article" %}
          <a href="{{ post.url }}">[Article]</a>
          {{post.data.title }}
        {% when "bookmark" %}
          <a href="{{ post.url }}">[Bookmark]</a>
          {{ post.data.title }}
          <sup><a href="{{ post.data.bookmark-of }}">Link</a></sup>
        {% when "note" %}
        <a href="{{ post.url }}">[Note]</a>
      {% endcase %}
      <div>{{post.templateContent }}</div>
    </article>
  {% endfor %}
</main>