---
layout: base
eleventyExcludeFromCollections: true
---
<main>
  <h3>Weblog.</h3>
  {% for post in posts %}
    {% assign reactions = webmentions.children | where: "wm-target", post.url %}
    <article>
      {% include partials/h-card %}
      {% case post.data.type %}
        {% when "article" %}
          <a href="{{ post.url }}">
            <mark>Articled
              <time datetime="{{post.date | date: "iso" }}">
                {{ post.date | date: "%a %b %d, %Y" }}
              </time>
            </mark>
          </a>
          <h4>
            {{post.data.title }}
          </h4>
          <div>{{post.templateContent }}</div>
        {% when "bookmark" %}
          <a href="{{ post.url }}">
            <mark>Bookmarked
              <time datetime="{{post.date | date: "iso" }}">
                {{ post.date | date: "%a %b %d, %Y" }}
              </time>
            </mark>
          </a>
          <h4>
            {{ post.data.title }}
            <sup><a href="{{ post.data.bookmark-of }}">Link</a></sup>
          </h4>
          <div>{{post.templateContent }}</div>
        {% when "note" %}
          <a href="{{ post.url }}">
            <mark>Noted
              <time datetime="{{post.date | date: "iso" }}">
                {{ post.date | date: "%a %b %d, %Y" }}
              </time>
            </mark>
          </a>
            <h4>{{post.templateContent }}</h4>
      {% endcase %}
    </article>
  {% endfor %}
</main>