---
layout: base
eleventyExcludeFromCollections: true
---
<main>
  <h3>A collection of thoughts.</h3>
  {% for post in posts %}
    {% assign reactions = webmentions.children | where: "wm-target", post.url %}
    <article>
      <a href="{{ post.url }}"> 
      {% include partials/h-card.liquid %}
      {% case post.data.type %}
        {% when "article" %}
          <h3>{{post.data.title }}</h3>
          <div>{{post.templateContent }}
          </div>
        {% when "reply" %}
          <div>
            {% include icons/reply.svg %}<em> Replied to <a href="{{ post.data.in-reply-to }}">{{ post.data.title }}</a></em>
          </div>
          <div>{{ post.templateContent }}</div>
        {% when "repost" %}
          <div>
            {% include icons/share.svg %}<em> Shared <a href="{{ post.data.repost-of }}">{{ post.data.title }}</a></em>
          </div>
          <div>{{ post.templateContent }}</div>
        {% when "bookmark" %}
          <div>
            {% include icons/bookmark.svg %}<em> Bookmarked <a href="{{ post.data.bookmark-of }}">{{ post.data.title }}</a></em>
          </div>
          <div>{{ post.templateContent }}</div>
        {% when "note" %}
        <div>{{ post.templateContent }}</div>
        {% when "favorite" %}
          <div>
            {% include icons/favorite.svg %} <em><a href="{{ post.data.like-of }}">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.data.like-of }}{% endif %}</a></em>
          </div>
          <div>{{ post.templateContent }}</div>
      {% endcase %}
      </a>
      <time datetime="{{post.date | date: "iso" }}">
      {{ post.date | date: "%a %b %d, %Y" }}
      </time>
    </article>
  {% endfor %}
</main>